

.relationsWrapper{
    display: flex;
    width: 100%
}


.container2 {
    width: 60vw
}


.myList {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    max-width: 50%;
}

.heyhey{
    display: flex;
    justify-content: center

}

.myButton {
    margin: 2px 5px;

}