
/* 

.myoption{
    color:seagreen;
    background-color: white
}
.myoption:hover{
    background-color: red
}



.myoption:active{
    color: lightseagreen;
    background-color: cornflowerblue
} */